h1,h2,h3,p {
  font-family: Helvetica;
}

h1 {
  background-image: url("./pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
}

h2.brushes {
  font-size: 32px
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

h2.frames {
  font-size: 32px
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

h2.paint {
  font-size: 32px
  font-weight: bold;
  color: white;
  background-color: skyblue;
}
span.prices {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
